<h1>Editing plataform</h1>

<%= render "form", plataform: @plataform %>

<br>

<div>
  <%= link_to "Show this plataform", @plataform %> |
  <%= link_to "Back to plataforms", plataforms_path %>
</div>
